*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
}

.video-items {
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	position: absolute;
}

.menu {
	position: absolute;
	margin: 0;
	z-index: 2;
	width: 100%;
	height:	100%;
	color: white;
}

.active {
	/*background-color: #FF6600 !important;*/
	color: white !important;
	background: -webkit-linear-gradient(top, #191c1b 65%, #FF6600 100%) !important;
}


/* MENU BEGIN*/
.item1, .item2{
	background: -webkit-linear-gradient(top, #191c1b 65%, black 100%);
	float: left;
	width: 41%;
	height: 60px;
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
	margin-left: 10px;
	padding-bottom: 5px;
}

.logo {
	
	float: left;
	width: 208px;
	height: 100px;
	/* background-color: #FFCC00;
	background-image: url('../../images/logo.jpg');	
	height: 20%;*/
}
/* MENU  END*/

/* SUBJECTS BEGIN*/
.subjects {
	position: absolute;
	z-index: 2;
	background-color: #CCC;
	height: 400px;
	width: 300px;
	margin-left: 200px;
	margin-top: 200px;
	font-size: 30px;
	color: white;
	overflow-y:scroll;
	overflow-x:hidden;
}

.subject-scroll {
	overflow-y:scroll;
	overflow-x:hidden;
	height: 363px;
	width: 300px;
}

.subject {
	background-color:  #CCC;
	padding-left: 10px;
	color: black;
}

.subject-top {
	background-color:  #CC0000;	
	font-size: 32px;
	text-align: center;
	color: white
}

/* SUBJECTS END*/


/* TOPICS BEGIN*/
.topics {
	position: absolute;
	z-index: 2;
	background-color: #CCC;
	height: 400px;
	width: 300px;
	margin-left: 700px;
	margin-top: 200px;
	font-size: 30px;
}

.topic {
	background-color:  #CCC;
	padding-left: 10px;
}

.topic-top {
	background-color:  #CC0000;	
	font-size: 32px;
	text-align: center;
	color: white;
}

/* TOPICS END*/


/* VIDEO BEGIN */
video {
	position: absolute;
	z-index: 1000;
	margin: 0;
	width: 1280px;
	height: 720px;
}
/* VIDEO END */


/* COURSE POPUP BEGIN*/
.course-popup {
	position: absolute;
	z-index: 13;
	width: 1000px;
	height: 500px;
	margin-top: 120px;
	margin-left: 150px;
	background-color: #CCC;
}

.course-popup-title {
	font-size: 35px;
	margin-left: 5px;
	margin-top: 5px;
}

.course-popup-subtitle {
	font-size: 30px;
	margin-left: 5px;
	margin-top: 5px;	
}

.course-popup-description {
	font-size: 25px;
	width: 940px;
	height: 300px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.course-button {
	width: 180px;
	height: 40px;
	font-size: 35px;
	margin-left: 780px;
	text-align: center;
}
/* COURSE POPUP END*/

/* TESTS BEGIN */
.tests-list {
	position: absolute;
	z-index: 2;
	background-color: #CCC;
	height: 400px;
	width: 300px;
	margin-left: 700px;
	margin-top: 200px;
	font-size: 30px;
}

.test-item {
	padding-left: 10px;

}

.test-list-top {
	background-color:  #CC0000;	
	font-size: 32px;
	text-align: center;
	color: white;
}

/* TESTS END*/

/* TEST POPUP BEGIN*/
.test-popup {
	position: absolute;
	z-index: 13;
	width: 1000px;
	height: 500px;
	margin-top: 120px;
	margin-left: 150px;
	background-color: #CCC;
}

.test-popup-title {
	font-size: 35px;
	margin-left: 5px;
	margin-top: 5px;
}

.test-popup-subtitle {
	font-size: 30px;
	margin-left: 5px;
	margin-top: 5px;	
}

.test-popup-description {
	font-size: 25px;
	width: 980px;
	height: 300px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	word-wrap: break-word;
}

.test-begin-button {
	width: 180px;
	height: 40px;
	font-size: 35px;
	margin-left: 780px;
	text-align: center;
}
/* TEST POPUP END*/

/* TEST WINDOW BEGIN */

.test-window {
	font-size: 25px;
}

.test-question {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 30px;	
}

.test-answer {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.test-answer-0,  .test-answer-1, .test-answer-2, .test-answer-3{
	margin-left: 40px;
}

.test-answer-image {
	float: left;
	margin: 5px;
}

.test-button {
	width: 180px;
	height: 40px;
	font-size: 35px;
	margin-left: 420px;
	text-align: center;
	margin-bottom: 50px;
}

/* TEST WINDOW BEGIN */


/* TEST RESULT BEGIN */
.test-result {
	font-size: 35px;	
	margin-top: 150px;
}

.test-result-text {
	text-align: center;
}

.test-result-button {
	width: 180px;
	height: 40px;
	font-size: 35px;
	margin-left: 420px;
	text-align: center;
	margin-top: 50px;
}

/* TEST RESULT END */

#helpBar {
	position: absolute;
	z-index: 110;
	bottom: 0;
	width: 100%;
}

.error-popup {
	position: absolute;
	width: 500px;
	height: 250px;
	z-index: 111;
	background-color: black;
	margin-left: 400px;
	margin-top: 200px;
	font-size: 30px;
	color: white;
}

.error-popup-top {
	background-color: #CC0000;
	font-size: 30px;
	padding-top: 5px;
	padding-left: 5px;
	color: white;
	width: 100%;
	height: 40px;
}

.error-button {
	width: 180px;
	height: 40px;
	margin-left: 170px;
	text-align: center;
	margin-top: 20px;
	background-color: gray;
	padding-top: 5px;
}

.error-popup-text {
	text-align: center;
	padding-top: 30px;
	margin-left: 30px;
}


.bechelor-info {
	position: absolute;
	margin-left: 140px;
	margin-top: 100px;
	width: 1000px;
	height: 500px;
	z-index: 10;
	background-color: white;
}

.bechelor-img {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 20px;
	margin-top: 100px;
	margin-right: 30px;
}

.bechelor-title {
	font-weight: bold;
	font-size: 30px;
	margin-top: 70px;
}

.bechelor-subtitle {
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 10px;
}

.bechelor-text, .bechelor-text2, .bechelor-text3, .bechelor-text4 {
	font-size: 28px;
	margin-bottom: 5px;
}

.bechelor-button {
	width: 180px;
	height: 40px;
	font-size: 35px;
	margin-left: 400px;
	text-align: center;
	margin-top: 50px;
}