<div class='test-window'>
	<div class='test-question' data-counter='0'>{{= it.text }}</div>
{{ for(var i = 0; i < it.answers.length;i++) { }}
	<div class='test-answer'>		
		<div class='cook-ui-checkbox test-answer-image'></div>
		<div class='test-answer-{{= i }}'>{{= it.answers[i].text}}</div>
	</div>
{{ } }}
<div class='test-button active'>Następne</div>
</div>


