<div class='bechelor-info'>
	<img class='bechelor-img'src='images/pp-logo.png' />
	<div class='bechelor-title'>Politechnika Poznańska</div>
	<div class='bechelor-subtitle'>Instytut Automatyki i Inżynierii Informatycznej</div>
	<div class='bechelor-text'>Prototyp aplikacji opracowano w ramach pracy dyplomowej inżynierskiej, oddanej w styczniu 2014 r.</div>
	<div class='bechelor-text2'> Autorzy: Norbert Blandzi i Maciej Leśniewski</div>
	<div class='bechelor-text3'> Tytuł: Projekt i implementacja portalu e-learningowego</div>
	<div class='bechelor-text4'>Promotor: dr inż. Krzysztof Zwierzyński</div>
	<div class='bechelor-button active'>OK</div>
</div>