<div class='course-popup'>
	<div class='course-popup-title'>{{= it.title }}</div>
	<div class='course-popup-subtitle'>{{= it.subtitle }}</div>
	<div class='course-popup-description'>{{= it.description }}</div>
	<div class='course-button'>Odtwarzaj</div>
</div>

