<div class='menu'>
	<img src='images/L.jpg' class='logo'></img>
	<div class='item1 menuNavItem'>{{= it.item1 }}</div>
	<div class='item2 menuNavItem'>{{= it.item2 }}</div>
	<!-- <div class='item3 menuNavItem'><{{= it.item3 }}</div> -->
</div>

