<div class='subjects'>
	<div class='subject-top'>Kursy</div>
	<div class='subject-scroll'>
		{{ for(var i = 0; i < it.name.length;i++) { }}
			<div class='subject{{=i}} subject'>{{= it.name[i] }}</div>
		{{ } }}
	</div>
</div>
