<div class='test-window'>
	<div class='test-question' data-counter='0'>{{= it.questions[0].text }}</div>
	{{ for(var i = 0; i < it.questions[0].answers.length;i++) { }}
	<div class='test-answer'>		
		<div class='cook-ui-checkbox test-answer-image'></div>
		<div class='test-answer-{{= i }}'>{{= it.questions[0].answers[i].text}}</div>
	</div>
	{{ } }}
	
	<div class='test-button active'>Następne</div>
</div>