<div class='test-popup'>
	<div class='test-popup-title'>{{= it.title }}</div>
	<div class='test-popup-subtitle'>{{= it.subtitle }}</div>
	<div class='test-popup-description'>{{= it.description }}</div>
	<div class='test-begin-button'>Rozpocznij</div>
</div>

